[submodule "users-service"]
	path = users-service
	url = https://github.com/Ochii/cso2-users-service
[submodule "webapp"]
	path = webapp
	url = https://github.com/Ochii/cso2-webapp
[submodule "master-server"]
	path = master-server
	url = https://github.com/Ochii/cso2-master-server
[submodule "inventory-service"]
	path = inventory-service
	url = https://github.com/Ochii/cso2-inventory-service
